.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 2px solid #EBF0F5;
    width: 100;
    padding: 16px;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.line {
    width: 2px;
    height: 80;
    background-color: #EBF0F5;
}

.highlight {
    font-size: 20px;
    font-weight: 600;
}